@font-face {
    font-family: 'DMSans';
    src: url('./DMSans/DMSans-Regular.ttf'),
        url('./DMSans/DMSans-BoldItalic.ttf'),
        url('./DMSans/DMSans-Italic.ttf'),
        url('./DMSans/DMSans-Medium.ttf'),
        url('./DMSans/DMSans-MediumItalic.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* Colours */
    --black: #000000;
    --white: #fff;
    --green: #82BC00;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DMSans';
}

.header-container{
    position: relative;
    display: block;
    overflow: auto;
    height: fit-content;
    width: 100%;
    padding: 50px;
    padding-top: 0;
    max-width: 1500px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    color: var(--white);
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 150px;
    width: 90%;
    padding: 5%;
    top: 0;
    z-index: 99;
}

.nav-wrapper {
    display: flex;
    
}

.navbar a {
    float: right;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    color: var(--white);
}

.main-logo {
    width: 100px;
    height: 60px;
}

.main-logo img{
    width: 100%;
    height: auto;
}

.hero-banner {
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    width: 100%;
}

.about-section{
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
}

.title {
    padding-bottom: 50px;
}

h1, h2 {
    font-weight: 400;
}

.about-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.about-info div {
    width: 50%;
}

.about-info p {
    width: 100%;
    padding-bottom: 30px;
}

.ap1 {
    font-size: 24px;
    font-weight: 700;
    padding-right: 10px;
}

.ap2 {
    font-size: 36px;
    font-weight: 500;
    padding-left: 10px;
}

.view-more {
    text-decoration: underline;
    padding-bottom: 30px;
}

.gallery-section {
    padding: 50px;
    max-width: 1500px;
    margin: 0 auto;
}

.topper {
    padding-bottom: 30px;
}

.topper a{
    float: left;
}
.topper .view-more{
    float: right;
}

.gallery-section div {
    height: fit-content;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.card {
    width: 450px;
}

.image-gallery img {
    width: 450px;
    border-radius: 16px;
}

.image-gallery h2, p {
    padding-top: 15px;
    padding-bottom: 15px;
}

.date {
    padding-bottom: 30px;
}

.graphic-section {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1500px;
    margin: 0 auto;
}

.displays {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.display-1 {
    width: 40%
}
.display-2 {
    width: 60%;
    padding-left: 20px;
}

.graphic {
    background-color: var(--green);
    height: fit-content;
    border-radius: 16px;
    padding-bottom: 30px;
}

.graphic h2{
    font-weight: 600;
    padding-top: 30px;
    padding-left: 30px;
    width: 50%;
}

.graphic p{
    font-weight: 600;
    padding-left: 30px;
}

.graphic a{
    padding: 30px;
    text-decoration: underline;
}

.subscribe-section {
    padding: 60px 100px 0;
    padding-bottom: 232px;
    max-width: 1500px;
    margin: 0 auto;
}

.subscribe-section h2{
    width: 80%;
    padding-bottom: 30px;
}

.subscribe-section input{
    border: none;
    border-bottom: 1px solid var(--black);
    padding-bottom: 10px;
    padding-left: 10px;
}

.subscribe-section input::placeholder{
    font-weight: 700;
    color: var(--black);
}

.subscribe-section a{
    font-weight: 700;
    background-color: var(--green);
    padding: 10px 20px;
    border-radius: 26px;
    margin-left: 10px;
}

footer {
    background-color: var(--green);
    width: 100%;
    padding: 60px 100px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}

.footer-container svg {
    width: 100px;
    color: var(--black);
}

@media screen and (max-width: 680) {
    .navbar a {
        float: none;
        display: block;
    }
    .header-container {
        padding: 50px;
        padding-top: 0;
    }
}